/* 
* Setup Sass variables
* 1. Sizes
* 2. Fonts
* 3. Colors
*/


/* Sizes */
$max-width: 1200px;
$margin: 80px;
$margin-half: ($margin/2);


/* Typography */
$line-height: 1.6;

/* Colors */


/* Breakpoints */
$br-med: 720px;
