/* 
* Setup Sass variables
* 1. Sizes
* 2. Fonts
* 3. Colors
*/


/* Sizes */
$max-width: 1200px;
$margin: 80px;


/* Typography */

$line-height: 1.6;

/* Colors */


/* Breakpoints */
$mobile: 600px;
