/* 
* Setup Sass variables
* 1. Sizes
* 2. Fonts
* 3. Colors
*/


/* Sizes */
$max-width: 1000px;
$margin: 40px;


/* Fonts */
$font-primary: 'Droid Sans', sans-serif;
$font-special: 'Changa One', sans-serif;

/* Colors */

$red: #D70000;
$red-brighten: #E71616;
$orange: #FF4000;
$blue: #0099FF;
$purple: #4D4DFF;
$green: #6CA730;
$light: #E5E5E5;