@mixin flex-row {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  -ms-flex-pack: center;
}

@mixin flex-item{
  box-sizing: border-box;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 100%
}