@mixin flex-row {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  -ms-flex-pack: center;
}

@mixin flex-item {
  width: 100%;
  max-width: 100%;
}