/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-size: 62.5%;
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
    line-height: 1.6;
    @include font-size(16);
    @include font-smoothing;
    color: #444;
    font-family: $font-primary;
    background-color: $light;
}