/*
* List Styles
*/

.plain-list, %plain-list {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}

.link-block, %link-block {
	@extend %float-clear;
	@extend %plain-list;
	a {
		display: block;
		text-decoration: none;
	}
}
